<nav data-aos="fade-up" data-aos-duration="2000" id="mainNavbar" class="navbar fixed-top navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="https://res.cloudinary.com/dslbg37ro/image/upload/v1645442476/F%C5%91nix/phoenix-logo_w3boru.png" width="75" height="50" alt="">
        <span class="text-uppercase fw-bolder fs-3" style="letter-spacing: 1.5px;">FŐNIX</span>
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-5">
          <a id="1" class="nav-link mx-3 fs-5" href="/">Főoldal</a>
          <a id="2" class="nav-link mx-3 fs-5" href="/">Étlap</a>
          <a id="3" class="nav-link mx-3 fs-5" href="/">Rólunk</a>
          <a id="4" class="nav-link mx-3 fs-5" href="/">Elérhetőségeink</a>
          </div>
          <div class="order"><h4>RENDELÉS</h4><img src="https://res.cloudinary.com/dslbg37ro/image/upload/v1645451585/F%C5%91nix/arrow_rxmfh5.png" alt=""><a class="phone" href="tel:0600555xxx">06 00/555 XXX</a></div>
          
      </div>
    </div>
  </nav>