body {
    background-color: black;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

::selection {
    background-color: #cc6300;
    color: whitesmoke;
}
.navbar {
    font-family: 'Poppins', sans-serif;
}

.order {
    margin-right: 10em;
    margin-left: auto;
}

.order h4 {
    font-family: 'Caveat', cursive;
    display: inline-block;
    color: whitesmoke;
    font-weight: 800;
    margin-right: 1em;
}

.order img {
    height: 3em;
    width: 6em;
    margin-right: 2em;
}

.order .phone {
    color: #a04d00;
    text-decoration: none;
    font-weight: 800;
    border: #a04d00 2px solid;
    padding: 0.5em 1em;
    
}

.order .phone:hover {
    background-color: #cc6300;
    color: black;
    transition: all 800ms ease-out;
}

.navbar.scrolled {
    background: rgb(31, 31, 31);
    transition: background 500ms;      
}

.navbar.scrolled .nav-link {
    font-weight: 800;
    transition: font-weight 600ms;
}

.nav-link.active {
    color: #a04d00 !important;
    }

  .nav-link:hover{
    color: #cc6300 !important;
  }

.hero .left {
    background-image: url('https://res.cloudinary.com/dslbg37ro/image/upload/v1645442634/F%C5%91nix/Hero-Vertical-Burger_vdhk7u.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 50em;
    bottom: 4.8em;
    transition: 300ms;
}

.hero .right {
    background-image: url('https://res.cloudinary.com/dslbg37ro/image/upload/v1645442653/F%C5%91nix/Hero-Horizontal-Banh-Mis_uvwhc5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35em;
    position: relative;
    right: 5em;
    margin-top: 42em;
    transition: 300ms;
}

.branding {
    position: relative;
    bottom: 33em;
    text-align: center;
    left: 6em;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.branding h1 {
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 7em;
}

.branding h3 {
    font-weight: 300;
    letter-spacing: 10px;
    color: #cc6300;
    margin-left: 10px;
}

.hero-info {
    color: #cc6300;
    position: relative;
    margin-top: 36em;
    left: 1em;
    font-size: 1.5em;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0.5px;
}

.hero-info-two {
    margin-top: 1.5rem;
}

.hero-info img {
    height: 1.3em;
    width: 1.3em;
}

.hero-info span {
    color: whitesmoke;
}

.pre-menu .row {
    margin-top: 14em;
}

.pre-menu .first {
    position: relative;
    margin-top: 3em;
    left: 3em;
    background-image: url('https://res.cloudinary.com/dslbg37ro/image/upload/v1645442698/F%C5%91nix/menu1_tebepa.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30em;
    z-index: 1;
    transition: 300ms;
}

.pre-menu .third {
    position: relative;
    margin-top: 12em;
    right: 3em;
    background-image: url('https://res.cloudinary.com/dslbg37ro/image/upload/v1645442700/F%C5%91nix/menu3_fqoweq.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30em;
    z-index: 1;
    transition: 300ms;
}

.pre-menu .second {
    position: relative;
    background-image: url('https://res.cloudinary.com/dslbg37ro/image/upload/v1645442700/F%C5%91nix/menu2_jhzcbb.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40em;
}

.tabs-sidebar {
    background-image: url('https://res.cloudinary.com/dslbg37ro/image/upload/v1645442768/F%C5%91nix/body4_ng8jyn.jpg');
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 50em;
    min-height: 50em;
}

.menu .header {
    margin-top: 14em;
    margin-bottom: 4em;
}

.menu .header h1 {
    display: inline-block;
    font-weight: 800;
    color: #cc6300; 
}

.menu .header .col-md-3 {
    text-align: end;
}

.tabs-sidebar {
    margin-right: 5em;
}

.tabs-button {
    display: block;
    margin-left: auto;
    margin-bottom: 1em;
    color: grey;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 1.5em;
    font-weight: 700;
}

.tabs-button:hover {
    color: #cc6300;
}

.tabs-button:active {
    color: #a04d00;
}

.tabs-button.active {
    color: #a04d00;
}

.tab-content {
    display: none;
    opacity: 0;
}

.tab-content.active {
    display: block;
    opacity: 1;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% {
      display: none;
      opacity: 0;
    }
    100% {
      display: block;
      opacity: 1;
    }
}

.food-container {
    margin-bottom: 3em;
}

.food-container:last-of-type {
    margin-bottom: 0em;
}

.food-container h4 {
    display: inline-block;
    font-weight: 800;
    color: #cc6300;
}

.food-container p {
    color: whitesmoke;
    font-size: 1.3em;
    margin-right: 10em;
}

.food-container span {
    float: right;
    color: #cc6300;
    font-size: 1.5em;
}

.extra h2 {
    display: inline-block;
    letter-spacing: 5px;
    font-weight: 800;
    color: #cc6300;
}

.hamburger-extra {
    text-align: start;
}

.hamburger-extra h1 {
    color: whitesmoke;
    font-size: 2em;
    font-weight: 800;
    margin-top: 2em;
}

.hamburger-extra p {
    color: #cc6300;
    font-weight: 600;
    font-size: 1.3em;
}
.hamburger-extra span {
    float: right;
}

.extra-dip {
    text-align: center;
}

.extra-dip h1 {
    font-weight: 800;
    color: whitesmoke;
}

.extra-dip p {
    color: #cc6300;
    font-weight: 600;
    font-size: 1.3em;
    margin-top: 1em;
}

.pizza-prices span {
    color: #cc6300;
    font-size: 1.5em;
    display: inline-block;
}

#pizza-size-header {
    font-weight: 700;
    color: whitesmoke;
}

#pizza-size-chart-1 {
    color: whitesmoke;
    font-size: 1.5em;
    font-weight: 600;
    display: inline-block;
}

#pizza-size-chart-2 {
    color: whitesmoke;
    font-size: 1.5em;
    font-weight: 600;
    display: inline-block;
}

.about {
    margin-top: 14em;
    background-image: url('https://res.cloudinary.com/dslbg37ro/image/upload/v1645442768/F%C5%91nix/body3_u0qmok.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.fade-in {
    opacity: 0;
}

.fade-in.appear {
    opacity: 1;
    animation: fadeIn 2s ease-in-out;
}

.from-left {
    transform: translateX(-50%);
    transition: transform 1600ms ease-in-out;
}

.from-right {
    transform: translateX(50%);
    transition: transform 1600ms ease-in-out;
}

.from-left.appear {
    transform: translateX(0);
}

.from-right.appear {
    transform: translateX(0);
}

.about-bg {
    background-image: url('https://res.cloudinary.com/dslbg37ro/image/upload/v1645442806/F%C5%91nix/restaurant-background_eyektp.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 45em;
    transition: 300ms;
}

.about-text {
    background-color: black;
    height: 45em;
    position: relative;
    top: 15em;
    right: 15em;
    text-align: left; 
    padding: 8em 4em 2em 4em;   
}

.about-text h2 {
    color: #cc6300;
    margin-bottom: 1.3em;
    font-weight: 800;
}

.about-text p {
    color: whitesmoke;
    font-size: large;
    line-height: 1.8em;
}

.about-hover {
    background-image: url('https://res.cloudinary.com/dslbg37ro/image/upload/v1645442827/F%C5%91nix/About-Vertical-Wings_j5i8r8.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 35em;
    left: 28em;
    bottom: 11em;
    transition: 300ms;
}

.info {
    margin-top: 8em;
}

.info-text {
    background-color: rgb(43, 43, 43);
    height: 50em;
    text-align: left;
    padding: 7em 10em 5em 5em;
}

.info-text .row {
    margin-bottom: 5em;
}

.info-text h2 {
    margin-left: 1em;
    color: #cc6300;
    font-weight: 800;
    margin-bottom: 1.5em;
}

.info-text img {
    height: 2em;
    width: 2em;
    margin-top: 0.1em;
}

.info-text p {
    color: whitesmoke;
    font-size: large;
    font-weight: 600;
}
.info-text p span {
    color: #cc6300;
    margin-right: 0.3em;
}

.info-text p a {
    color: whitesmoke;
    text-decoration: none;
    letter-spacing: 2px;
    display: inline-block;
    margin-bottom: 0.3em;
}

.info-text p a:hover {
    color: #cc6300;
}

.info-map {
    position: relative;
    height: 45em;
    right: 10em;
    top: 30em;
    transition: 300ms;
}

.map-popup-text {
    text-align: center;
}

.map-popup-text h1 {
    font-size: 2em;
    font-weight: 600;
}

.map-popup-hidden {
    display: none;
}

footer {
    background-color: rgb(12, 12, 12);
    color: whitesmoke;
    margin-top: 22em;
    padding: 3em;
  }
  
  footer .logo {
    height: 8em;
    width: 10em;
  }
  
  footer a {
    display: block;
    text-decoration: none;
    color: whitesmoke;
    margin-bottom: 1em;
  }
  
  footer a:hover {
    color: #cc6300;
  }
  
  footer a img {
    height: 2em;
    width: 2em;
  }
  
  .social-media {
    display: inline-block;
    margin: 0 1em;
  }

@media all and (max-width: 1441px) {
    body {
        font-size: 0.85em;
    }

    .hero .right {
        height: 32em;
    }

    .hero-info {
        left: 0em;
    }

    .order {
        margin-right: 6em;
    }

    .pre-menu .row {
        margin-top: 20em;
    }

    .about-text {
        right: 10em;
    }

    .about-hover {
        left: 23em;
        bottom: 8em;
    }

    .info {
        margin-top: 13em;
    }

    .info-map {
        right: 5em;
    }
}

@media (max-width: 1300px) {
    .order h4 {
        display: none;
    }
    .order img {
        display: none;
    }
}

@media (max-width: 1200px) {
    .map-popup-hidden {
        display: block;
    }
    .info .row {
        justify-content: center;
    }
    .info-text {
        display: none;
    }
    .info-map {
        left: 0;
        top: 0;
        margin-right: none;
    }
}

@media (max-width: 1200px) {
    .about-text {
        padding: 8em 0 2em 2em;
    }
    .info-map {
        margin-top: 20em;
    }
}

@media (max-width: 991px) {
    body {
        font-size: 0.75em;
    }
    
    .navbar-nav .nav-link{
        font-weight: 600;
    }
    
    .order {
        margin: 2em 0 2em 6em;
    }
    .about .row {
        justify-content: center;
    }
    .about-bg {
        margin-right: 0;
        right: 0;
        left: 0;
        transform: translateY(0) !important;
    }
    .about-hover {
        display: none;
    }
    .about-text {
        height: fit-content;
        top: 0;
        margin-right: 0;
        left: 0;
        margin-bottom: 10em;
        padding: 5em 10em;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .branding {
        bottom: 39em;
    }
}

@media (max-width: 767px) {
    body {
        font-size: 0.65em;
    }
    .order {
        margin: 2em 0 2em 4em;
        font-size: 1.25em;
    }
    
    .hero .left {
        height: 30em;
    }
    .hero .right {
        height: 20em;
        margin-top: 26em;
        right: 1em;
    }
    .branding {
        padding-top: 10em;
        padding-right: 8em;
    }
    .branding h1 {
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 4em;
    }
    .branding h3 {
        font-weight: 300;
        font-size: 2em;
        letter-spacing: 5px;
        color: #cc6300;
        margin-left: 5px;
    }
    .branding img {
        max-width: 10em;
    }
    .hero-info {
        color: #cc6300;
        position: relative;
        margin-top: 33em;
        font-size: 1em;
        font-weight: 600;
        line-height: 20px;
    }
    .hero-info-two {
        margin-top: 0.33rem;
    }
    .pre-menu .first {
        height: 20em;
    }
    .pre-menu .second {
        height: 24em;
    }
    .pre-menu .third {
        height: 16em;
        margin-top: 3em;
        right: 2em;
    }
    .tabs-sidebar {
        min-height: 2em;
        max-height: 4em;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .tabs-button {
    display: inline-block;
    }

    .tab-container {
        margin-top: 5em;
    }
    .menu .header .col-md-3 {
        text-align: start;
    }
}

@media (max-width: 499px) {
    .about-text {
        font-size: 0.5em;
        padding: 5em 5em;
    }
    .social-media {
        margin: 0.5em 0.5em;
    }
}


